[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/calintat/minimal.git
[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = git@github.com:nanxiaobei/hugo-paper.git
